{% extends 'base.html' %}

{% block content %}

{% for book in books.all %}
<div class="row pt-3">
  <div class = "col-2" onclick = "window.location='{% url 'detail' book.id %}';" style="cursor: pointer;">
    <img src="{{ book.icon.url }}" class="img-fluid" />
  </div>
  <div class = "col-6" onclick = "window.location='{% url 'detail' book.id %}';" style="cursor: pointer;"">
    <h1>{{ book.title }}</h1>
    <p>{{ book.summary }}</p>
  </div>
  <div class = "col-4">
  </div>
</div>
{% endfor %}

{% endblock %}
